.testimonials{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    overflow: visible;
    padding: 265px 0 200px 0;
    margin-top: -2px;

    @include windowMax1440p {
        padding: 145px 0 200px 0;
    }

    @include windowMax1280p {
        padding: 125px 0 200px 0;            
    }

    &.--project-variant {
        padding: 0;
        margin: 260px 0 320px 0;
        @include windowMax1440p {
            margin: 200px 0 230px 0;
        }
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;
    }

    h2 {
        @include headline_156();
        color: #19171E;        
        &.h2-white {
            position: relative;
            color: #FFFFFF;  
            
            &:before {
                content: " ";
                position: absolute;
                width: 100vw;
                height: 100%;
                top: -130px;
                transform: translateX(-50%);
                left: 50%;
                padding: 130px 130px 20px 130px;
                box-sizing: content-box;
            }
        }
    }

    .h2-white-wrapper {
        position: absolute;
        clip-path: circle(130px at 50% 50%);
        // pointer-events: none;
        z-index: 1000000000;
        overflow: visible;
        padding: 130px 130px 0 130px;
        top: -130px;
        // box-sizing: border-box;
        // border: 3px solid red;

        display: none;
        @media (hover: hover) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .testimonials-video-wrapper {
            position: absolute;
            top: calc(50%);
            left: calc(50%);
            transform: translate(-50%, -50%);
            pointer-events: none;
            border-radius: 50%;
            overflow: hidden;

            .testimonials-video {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            &:after {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000000;
                opacity: 0.5;
            }
        }



    }

    .play-btn {
        position: relative;
        @include body_16_500();
        color: #19171E;

        position: relative;
        left: -10px;
        display: flex;
        align-items: center;
        column-gap: 24px;
        margin-top: 40px;
        @include windowMax1440p {
            margin-top: 32px;
            svg {
                width: 48px;
                height: 48px;
            }
        }
        br {
            display: none;
        }
        &.--white {
            color: #FFFFFF;
            z-index: 1000000;
            // pointer-events: none;
            // border: 2px solid red;
        }
    }

    .quotes-wrapper {
        position: relative;
        margin-top: 88px;
        width: 100%;
        max-width: 1028px;
        @include windowMax1440p {
            margin-top: 62px;
            max-width: 820px;
        }
    }

    .quotes-container {
        position: relative;
        width: 100%;
        height: auto;
    }

    .quote {
        position: absolute;
        opacity: 0;
        top: 0;

        height: 100%;
        width: auto;

        transition: opacity 0.5s;
        transition-timing-function: ease-in;

        &:nth-of-type(1) {
            position: relative;
            height: auto;
            padding-bottom: calc(56px + 64px); //space for person

            @include windowMax1440p {
                padding-bottom: calc(48px + 48px);
            }
            // opacity: 1;
        }
        &.--active {
            // position: relative;
            opacity: 1;
            transition-delay: 0.5s;
        }

        // &.--active {
        //     position: relative;
        // }

        &__text {
            @include body_48_480();
            color: #19171E;
            span {
                @include body_16_500();
                color: #798594;
                margin-right: 12px;
                text-transform: uppercase;
            }
        }

        &__person {
            margin-top: 64px;
            height: 56px;
            display: flex;
            align-items: center;
            column-gap: 40px;
            width: auto;

            position: absolute;
            bottom: 0;
            left: 0;
            overflow: visible;

            // &:first-of-type {
            //     position: relative;
            // }

            @include windowMax1440p {
                margin-top: 48px;
                height: 48px;
            }

            &__profile-pic {
                height: 100%;
                width: auto;
                object-fit: cover;
                border-radius: 50%;
            }

            &__text-wrapper {
                height: 100%;
                width: auto;
                overflow: visible;
                padding: 4px 0;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include windowMax1440p {
                    padding: 0;
                }
            }

            &__name {
                @include body_16_600();
                color: #19171E;
                width: auto;
                overflow: visible;
                @include windowMax1440p {
                    font-size: 16px;
                    line-height: 18px;
                }
            }

            &__job {
                @include body_16_480();
                color: #19171E;
                margin-top: 2px;
                width: auto;
                overflow: visible;
                @include windowMax1440p {
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }
    }

    .buttons-wrapper {
        position: absolute;
        bottom: 0;
        right: 0px;

        // transform: translateY(-100%);

        display: flex;
        justify-content: center;
        column-gap: 8px;

        .left-btn, .right-btn {
            position: relative;
            width: 56px;
            height: 56px;
            // border: 1px solid #DADDE1;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            @include windowMax1440p {
                width: 48px;
                height: 48px;
            }
        }

        .right-btn .symbol {
            transform: scaleX(-1);
        }

    }

    &.--no-video {
        .h2-white {
            display: none;
        }
        .testimonials-video-wrapper {
            display: none;
        }
        .play-btn {
            display: none;
        }
        .quotes-wrapper {
            margin-top: 64px;
        }
    }

    &.--careers-variant {
        background-color: #0e0e13;
        padding: 280px 0 400px 0;

        @include windowMax1440p {
            padding: 180px 0 280px 0;
        }
        @include windowMax1280p {
            padding: 180px 0 240px 0;
        }

        h2, p, a, span {
            color: #FFFFFF;
        }

        .play-btn path, .symbol path {
            fill: #FFFFFF;
        }

        h2 {
            font-family: 'Urbanist';
            font-style: normal;
            font-variation-settings: 'wght' 500;
            font-size: 120px;
            line-height: 132px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            @include windowMax1440p {
                font-variation-settings: 'wght' 440;
                font-size: 96px;
                line-height: 112px;
            }
            @include windowMax1280p {
                font-size: 80px;
                line-height: 96px;
            }
        }

        .quote {
            &__text {
                font-variation-settings: 'wght' 380;
                font-size: 44px;
                line-height: 64px;
                @include windowMax1440p {
                    font-size: 32px;
                    line-height: 52px;
                }
            }
        }
    }


    @include mobileMax952p(){
        padding: 180px 0 4px 0;

        &.--project-variant {
            padding: 0;
            margin: 160px 0 140px 0;
        }

        &.--careers-variant {
            padding: 148px 0 200px 0;
            h2 {  
                font-size: 100px;
                line-height: 1.05em;
                text-align: left;
    
                @include mobileMax768p{
                    font-size: 13vw;
                    line-height: 1.05em;
                    width: 100%;
                    max-width: 600px;
                    text-align: center;
                }
            }
            .quote__text {
                font-size: 24px;
                line-height: 40px;
            }
        }

        .container {
            // align-items: flex-start;
            align-items: center;
        }

        h2 {  
            font-size: 90px;
            line-height: 1.05em;
            text-align: left;

            @include mobileMax768p{
                font-size: 12vw;
                line-height: 1.05em;
                width: 100%;
                max-width: 600px;
                text-align: center;
            }
        }
        .h2-white-wrapper {
            display: none;
        }

        .play-btn {
            left: -10px;
            column-gap: 16px;
            margin-top: 24px;
            align-self: center;

            @include mobileMax768p {
                left: unset;
                align-self: unset;
            }
            
            svg {
                width: 48px;
                height: 48px;
            }
            br {
                @include mobileMax768p {
                    display: inline;
                }
            }
            
        }

        .quotes-wrapper {
            margin-top: 48px;
            max-width: 600px;
        }

        &.--project-variant {
            .quotes-wrapper {
                margin-top: 36px;
                max-width: 600px;
            }
        }


        .quote {
            &:nth-of-type(1) {
                // position: relative;
                // height: auto;
                padding-bottom: calc(48px + 56px); //space for person
            }
            &__text span {
                font-size: 12px;
                line-height: 18px;
                margin-right: 8px;
            }
            &__person {
                margin-top: 32px;
                column-gap: 24px;
                width: 100%;
    
                &__text-wrapper {
                    padding: 6px 0;
                }
                &__name {
                    // @include body_16_600();
                    font-size: 14px;
                    line-height: 16px;
                }
                &__job {
                    // @include body_16_480();
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }
        .buttons-wrapper {
            position: relative;
            bottom: unset;
            right: unset;

            justify-content: flex-start;

            margin-top: 40px;
    
            .left-btn, .right-btn {
                width: 48px;
                height: 48px;
                border: 1px solid #DADDE1;
            }    
        }
    }
}