.hero {
    position: relative;
    width: 100%;
    height: calc(100vh + 2px);
    // background: #19171E;
    background: #0e0e13;
    // background: rgb(12, 70, 234);

    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: -1px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);


    @include windowMax1440p {
        // padding-top: 60px;
    }

    @include windowMax1280p {
        // padding-top: 60px;
    }
    
    .container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: visible;
    }

    .headline-wrapper {
        position: relative;
        height: 100%; 
        width: max-content;
        max-width: 100%;
        padding-top: 100px;

        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: flex-start;
    }

    h1 {
        font-family: 'Urbanist';
        font-style: normal;
        font-variation-settings: 'wght' 490;
        font-size: 104px;
        line-height: 128px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        position: relative;
        // border: 2px solid red;
        z-index: -1;
        @media (min-width: 1501px) and (max-width: 1680px) {
            font-size: 91px;
            line-height: 112px;
        }
        @include windowMax1440p {
            font-variation-settings: 'wght' 440;
            font-size: 80px;
            line-height: 88px;
        }
        @include windowMax1280p {
            font-size: 72px;
            line-height: 80px;
        }

        &.h1-shallota {
            font-family: 'Shallota-Extralight';
            font-style: normal;
            font-weight: 400;
            font-size: 130px;
            line-height: 138px;
            color: #FFFFFF;
            font-feature-settings: 'liga' off;
            
            @media (min-width: 1501px) and (max-width: 1680px) {
                font-size: 114px;
                line-height: 111px;
            }
            @include windowMax1440p {
                font-size: 98px;
                line-height: 116px;  
            }
            @include windowMax1280p {
                font-size: 88px;
                line-height: 112px;  
            }
        }
    }

    &.--no-ripples {
        .ripples__gradient-img { 
            display: block;
        }
        h1 {
            z-index: unset;
        }
    }

    .h1-mobile {
        display: none;
    }
    
    .small-text {
        @include body_16_580();
        color: #FFFFFF;
        position: relative;
        left: 1012px;
        width: calc(1368px - 1012px);

        @media (min-width: 1501px) and (max-width: 1680px) {
            top: -16px;
        }

        @include windowMax1440p {
            left: 785px;
            top: -16px;
            width: calc(1100px - 785px);
        }

        @include windowMax1280p {
            top: -32px;
        }

        @media (min-width: 952px) and (max-width: 1196px) {
            left: 705px;
            width: calc(100vw - 2*48px - 705px);
        }
    }

    .findOutMoreBtn{
        @include btn_text_16_580();
        // @include whiteHover();
        position: relative;
        z-index: 1000;
        margin-top: 16px;

        padding: 20px 40px;
        box-sizing: border-box;

        border-radius: 100px;
        // border: 1px solid rgba(255, 255, 255, 0.2);        
        color: #FFFFFF;

        @include windowMax1440p {
            margin-top: 0px;
            padding: 16px 32px;
        }
    }

    &__awards-wrapper{
        position: relative;
        width: 100%;
        min-height: 112px;

        
        z-index: 100;

        @include windowMax1440p {
            min-height: 100px;
        }

        padding-right: 10px;
        box-sizing: border-box;

        .line {
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 0;
            width: 100vw;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
    }

    .awards-group-1, .awards-group-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .awards-group-2 {
        display: none;
    }

    &__awards-progress {
        display: none;
    }

    &__award {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &__logo{ 
            @include windowMax1440p {
                transform: scale(0.9);
            }
        }
        &__flag {
            width: auto;
            height: 20px;
            margin: 0 12px;
            min-height: 20px;
            @include windowMax1440p {
                margin: 0 10px;
            }
        }
        &__text {
            @include body_16_580();
            color: #FFFFFF;
            opacity: 0.8;
        }

        br {
            display: none;
        }
    }
    
    @include mobileMax952p(){
        padding-top: 80px;
        // height: 90vh;  
        height: var(--app-height);
        overflow: hidden;

        .container {
            // max-width: calc(100VW - 64px);
        }
        .headline-wrapper {
            // padding-right: 22px;
            padding-top: 0;
        }
        .h1-desktop {
            display: none;
        }
        h2.h1-mobile {
            display: block;
            // max-width: 600px;
            font-family: 'Urbanist';
            font-style: normal;
            font-variation-settings: 'wght' 490;
            font-size: 11vw;
            line-height: 1.15em;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            position: relative;
            z-index: unset;

            span {
                font-family: 'Shallota-Extralight';
                font-style: normal;
                font-style: normal;
                font-weight: 400;
                font-size: 13.5vw;
                line-height: 0.8em;
                color: #FFFFFF;
                font-feature-settings: 'liga' off;
            }

            @media (min-width: 648px) {
                font-size: 9vw !important;
                span {
                    font-size: calc(9vw*13.5/11) !important;

                }
            }
        }

        .small-text {
            display: none;
        }

        .findOutMoreBtn{
            padding: 16px 32px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            margin-top: 32px;  
            order: 10;
        }

        &__awards-progress {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            position: absolute;
            top: 24px;
            right: 0;

            .award-dot {
                width: 4px;
                height: 4px;
                background-color: #FFFFFF;
                opacity: 0.2;
                border-radius: 2px;
                transition: width 0.5s, opacity 0.5s;
                transition-delay: 0.25s;

                &.--active {
                    width: 8px;
                    opacity: 0.8;
                }
            }
        }
    
        &__awards-wrapper{
            position: relative;
            width: 100%;
            min-height: 108px;
            z-index: 100;
    
            // padding-right: 10px;
            // box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            overflow: visible;
            column-gap: 86px;
        }
    
        .awards-group-1, .awards-group-2 {
            width: max-content;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 86px;
            
            position: relative;

            // left: 0;
        }
        .awards-group-2 {
            // left: calc(600px + (100vw - 600px)/2 + 86);
            // background-color: rgba(102, 51, 153, 0.2);
        }
    
        &__awards-progress {
            display: none;
        }
    
        &__award {
            width: auto;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .logo-wrap {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
    
            &__flag {
                // width: auto;
                // height: 20px;
                // margin: 0 12px;
                // min-height: 20px;
                // @include windowMax1440p {
                //     margin: 0 10px;
                // }
            }
            &__text {
                width: max-content;
            }
    
            @include mobileMax768p {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 8px;
            }
        }
    }
}

.ripples__gradient {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-height: 100vh;
    width: 100%;

    &-img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: none;
    }

    @include mobileMax952p(){
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        overflow: hidden;

        &-img {
            display: block;
            width: 180%;
            height: auto;
        }
    }
}



.hero__headline-1 {
    position: absolute;
    top: 263px; 
    left: 0;
}

// .ripples__gradient {
    #canvas {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        z-index: 1;
        // // background: #0E0E13;
      }
      
      /*** content ***/
      
      .dg.ac {
        z-index: 3 !important;
      }
      
      #content {
        position: relative;
        z-index: 2;
        // touch-action: none; /* disable pull to refresh on mobile */
      }
      
      #water-ripples {
        position: relative;
        width: 100%;
        height: 100vh;
      
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: red;
        // background: #0E0E13;
        // z-index: -1;
        
      }
      
      #water-ripples-title {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      #water-ripples-title h1 {
        color: white;
        font-size: 8.5vw;
        margin: 0;
        opacity: 0;
      }
      
      #water-ripples img {
        display: none;
      }
      
      #curtainsjs-ad {
        position: absolute;
        top: 1em;
        left: 1em;
        font-size: 0.75em;
        color: white;
        z-index: 3;
        font-family: 'Arial', sans-serif;
      }
      
      #curtainsjs-ad a {
        color: inherit;
      }
      
      /*** handling errors ***/
      
      .no-curtains #water-ripples {
        display: flex;
        overflow: hidden;
      }
      
      .no-curtains #water-ripples img {
        display: block;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
      
      .no-curtains #water-ripples-title h1 {
        opacity: 1;
      }
// }